[Unit]
Description=FastChat service for SajuGPT
After=network.target

[Service]
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/home/chang/anaconda3/bin"
Environment="LOGDIR=log"
ExecStart=/bin/bash -c -l "/home/chang/llm/FastChat/openai_api_service.sh"
Restart=always
User=chang
Group=chang

[Install]
WantedBy=multi-user.target
